/* Layout */
html {
    height: 100%;
}

.background {
    background-image: url("../images/background.jpg");
}

/* Body */

body {
    color: #17252a;
    background-color: whitesmoke;
}

/* Link Colors */
a h5:hover, a h6:hover, a h3:hover, a p:hover, a em:hover  {
    color: #17252a;
}

a h5, a h6, a h3, a p, a em {
    color: rgb(43, 122, 120);
}

/* Navbar */

.navbar-light .navbar-nav .nav-link {
    color: #def2f1;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(43, 122, 120);
}

.navbar-light .navbar-nav .nav-link.active {
    color: #17252a;
}

a:-webkit-any-link {
    text-decoration: none;
}

/* All inputs */

input:focus, textarea:focus {
    box-shadow: 0 0 0 0.2rem #2b7a7880 !important;
    border: none;
    outline: none;
}

/*All buttons */

.buttonDark {
    background-color: #2b7a78;
    color: #feffff;
    border-radius: 10%;
    border: 1px solid #feffff;
}

.buttonDark:hover {
    background-color: #feffff;
    color: #2b7a78;
    border-radius: 7%;
    border: 1px solid #2b7a78;
}

.buttonLight {
    background-color: #feffff;
    color: #2b7a78;
    border-radius: 7%;
    border: 1px solid #2b7a78;
}

.buttonLight:hover {
    background-color: #2b7a78;
    color: #feffff;
    border-radius: 10%;
    border: 1px solid #feffff;
}

.round {
    border-radius: 100%;
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
}

.round:hover {
    border-radius: 100%;
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
}

button:focus {
    outline: none;
}

.postButton {
    position: fixed;
    bottom: 1rem;
    right: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.modalButtons {
    position: fixed;
    bottom: 6rem;
    right: 0.5rem;
}

.deleteButton {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #2b7a78;
}

.deleteButton:hover {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #2b7a78;
    -webkit-transform:scale(1.3);
    -moz-transform:scale(1.3);
    -ms-transform:scale(1.3);
    -o-transform:scale(1.3);
    transform:scale(1.3);
}

.backToTop {
    position: fixed;
    bottom: 1rem;
    left: 0.5rem;
    color: #2b7a78;
}

/* Login/register pages */

.login-title{
    color: #def2f1;
    text-shadow: 4px -3px 5px rgba(150, 150, 150, 1);
    font-family: Arial, Helvetica, sans-serif;
}

.login-paragraph{
    font-family: Arial, Helvetica, sans-serif;
}

.form {
    border-radius: 5%;
    background-color: rgba(254, 255, 255, 0.9);
    -webkit-box-shadow: 11px -11px 40px -8px rgba(74,74,74,0.81);
    -moz-box-shadow: 11px -11px 40px -8px rgba(74,74,74,0.81);
    box-shadow: 11px -11px 40px -8px rgba(74,74,74,0.81);
}

.form-group {
    margin-bottom: 0.45rem;
}

.btn-dark {
    opacity: 0.6;
}

/* All errors */

.error {
    color: red;
    text-align: center;
    font-size: 14px;
}

/* Modal style */

.custom-modal {
    width: 35rem;
}

/* Dropdown */

.options:hover {
    background-color: white;
}

/* Classes for selecting what can be seen */

.hide {
    display: none;
}

.false {
    visibility: hidden;
}

/* Hover on all cards, positioning inside cards */

.card:hover {
    -webkit-box-shadow: rgba(43, 122, 120, 0.5) 0px 0 20px;
    -moz-box-shadow: rgba(43, 122, 120, 0.5) 0 0 20px;
    box-shadow: rgba(43, 122, 120, 0.5) 0 0 20px;
}

.card-body {
    position: relative;
}

.postTime {
    position: absolute;
    bottom: 1rem;
    right: 2rem;
}

/* Profile */

.profileimage{
    border-radius: 15%;
}

.profilename{
    font-family: 'PT Serif', serif;
}

.profilecounter {
    background-color: #3aafa9;
    color: #feffff;
    border-color: white;
}

/* Adapt for mobile */

@media only screen and (max-width: 579px) {
    .modalButtons {
        width: 400px;
        position: fixed;
        bottom: 20px;
        right: 0;
    }

    .modalButtonsText {
        display: none;
    }

    .modalRoundButtons {
         margin: 0 12px;
    }

    .profileimage {
        width: 75% !important;
    }

    .imageMobile {
        width: 3rem !important;
        height: 3rem !important;
        float: left;
    }

    .textMobile {
        font-size: 0.8rem;
    }

    .nameMobile {
        padding-top: 1rem !important;
    }
}

/* Adapt for tablet */

@media only screen and (max-width: 991px) {
    .textMobile {
        font-size: 0.9rem;
    }

    .imageMobile {
        width: 3rem !important;
        height: 3rem !important;
    }
}

/*Adapt for desktop */
@media screen and (min-width: 992px) {
    .login-paragraph {
        margin-top: 3rem;
    }

    .form {
        margin-top: 2rem;
    }

    .login-title {
        margin-top: 50px;
    }
}