.welcomeText{
    width: 80%;
    margin: 15% auto 0;
    text-align: justify;
}

.loginTitle{
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    color: yellowgreen;
    margin-bottom: 20px;   
}

.loginParagraph{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.form {
    margin: 9% auto 0;
    margin-left: 30px;
    border: 1px solid yellowgreen;
    padding: 20px;
    border-radius: 5%;
}

.error {
    color: red;
    text-align: center;
    font-size: 14px;
}

footer{
    width: 100%;
}

.footertext{
    color: black;
}

.profilecontent{
    text-align: center;
    margin: 4% auto 0;
    width: 50%;
}
.profileimage{
    border-radius: 15%;
    -webkit-box-shadow: 11px -11px 40px -8px rgba(74,74,74,0.81);
    -moz-box-shadow: 11px -11px 40px -8px rgba(74,74,74,0.81);
    box-shadow: 11px -11px 40px -8px rgba(74,74,74,0.81);
    margin-bottom: 2%;
    max-width: 250px;
}

.profilename{
    font-family: 'PT Serif', serif;
    margin-bottom: 1%;
}

.profileabout {
    border: 1px solid green;
    width: 50%;
    margin: 0 auto 2%;
}

.editForm {
    margin: 0 auto;
    border: 1px solid yellowgreen;
    padding: 20px;
    border-radius: 5%;
}

.modalInput {
    margin-bottom: 10px;
}

.backdropStyle {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
    padding: 50px;
}

.modalStyle {
    background-color: #fff;
    border-radius: 5%;
    max-width: 500px;
    min-height: 820px;
    margin: 0 auto;
    padding: 30px;
    position: relative;
}

.saveButtonStyle {
    position: absolute;
    right: 45px;
    bottom: 10px;
    min-width: 100px;
}

.closeButtonStyle {
    position: absolute;
    right: 155px;
    bottom: 10px;
    min-width: 100px;
}

.hide {
    display: none;
}

.editButton {
    margin-top: 20px;
    margin-right: 50px;
}

.userDescription {
    height: 300px;
    width: 25%;
    margin: 50px 2% 0;
    text-align: center;
}

.userImage {
    width: 90%;
    margin: 5px auto;
}

.userImage img {
    max-width: 100%;
    height: 100px;
}